body{
    margin:0;
    background-color: black;
    width: 100%; height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    padding: 1vh 4vw 12vh 4vw; 
}

h1{
    color: white;
    font-size:3.5vw;
    font-weight: 100;
    text-align: center;
}

img{
    border-radius: 5px;
}
.users {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.users img{
    width: 10vw;
    height: auto;
}

.users li{
    width: 10vw;
    padding: 0 0.9vw;
}

.users li a{
    color: rgb(158, 158, 158);
    list-style: none;
    text-decoration: none;
    justify-content: center;
    width: 10vh;
}

.users li a:hover{
    color:white;
    list-style: none;
    text-decoration: none;
    justify-content: center;
}

.users li a img:hover{
    border: 3px solid white;
    border-radius: 5px;
}

p{
    text-align: center;
    font-size: 1vw;
}

.buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;    
}

button{
    background-color: black;
    border: solid 2px rgb(158, 158, 158);
    text-align: center;
    text-decoration: none;
    color:  rgb(158, 158, 158);
    font-size: 1vw;
    width:12vw;
    height:4vh;
    margin: 6vh 43vw;
}

button a{
    text-decoration: none;
    color:  rgb(158, 158, 158);
    text-align: center;
    padding: 2%;
    justify-content: center;
}

button:hover{
    border: solid 2px white
}

button a:hover{
    color: white
}
