body{
    background-color: dimgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
}
h1{color:deepskyblue; font-size: xx-large; text-align: center;}

h2{color:rgb(140, 224, 240); font-size: x-large; text-align: left;}

h3{color: rgb(140, 224, 240); font-size: large; text-align: left;}

img{float: right; padding: 50px;}

p, li {color: whitesmoke;}

li#actual:hover {font-style: italic;color: cadetblue;}

.indent {text-indent: 80px;}